<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<div id="content">
			<h2>비밀번호 변경</h2>
		    <form th:action="@{/user/changePassword}" method="post">
		        <div>
		            <label for="username">아이디: </label>
		            <input type="text" id="username" name="username" th:value="*{username}" readonly>
		        </div>
		        <div>
		            <label for="newPassword">새비밀번호: </label>
		            <input type="password" id="newPassword" name="newPassword" >
		        </div>
		        <div>
		            <label for="confirmPassword">새비밀번호 확인: </label>
		            <input type="password" id="confirmPassword" name="confirmPassword" >
		        </div>
		        <button type="submit" id="update">수정</button>
		    </form>
		</div>
	</th:block>
</html>
<script layout:fragment="script" type="text/javascript">
	$(document).ready(function(){
		
		$(document).ready(function(){
			let update = $("#update");
			update.click(function(event){
				let newPassword = $('#newPassword').val();
				let confirmPassword = $('#confirmPassword').val();
				
				if(newPassword === confirmPassword && newPassword !== "" && confirmPassword !== ""){
	                alert('비밀번호가 변경되었습니다.');
	            } else {
	                alert('비밀번호를 확인해주세요.');
					event.preventDefault();
	            } 	
			});
		});
		
	});
</script>