<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<div id="content">
		    <form th:action="@{/user/tempPassword}" th:object="${tempPasswordForm}" method="post">
		        <div class="mb-3">
		            <label for="email" class="form-label">사용자 이메일</label>
		            <input type="text" name="email" id="email" class="form-control">
		        </div>
		        <button type="submit" class="btn btn-primary">임시 비밀번호 생성</button>
		    </form>
		</div>
	</th:block>
</html>