<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout}">
    
<th:block layout:fragment="content">
	<script>
		$('.navbar-nav.bg-gradient-primary').hide();
		$('.content_wrap').css('width', '100%');
		$('.mainGo').css('display', 'block')
	</script>
	<script th:src="@{/js/viewer.js}"></script>
	<div id="wrap">
	    <div id="video-content" class="videoViewer">
	    	<!-- 데이터 히든으로 받아오기 -->
	    	<div style="display: none">
	    		<input id="videoId" hidden="hidden" th:value="${video.id}">
	    		<input id="userId" hidden="hidden" th:value="${user.id}">
				<input id="watchingTime" hidden="hidden" th:value="${userVideo.watchingTime}">
	    	</div>
	    	<!-- 비디오 영상 -->
			<div class="video">
				<div id="player" class="url-link" th:data-url="${video.url}"></div>
				<div id="playerTime" th:data-time="${videoTime ?: 0}"></div>
				<div class="pre-next-btn">
					<a th:if="!${hasPreVideo}" th:href="@{|/video/viewer/${video.id}/pre|}" class="btn btn-primary btn-icon-split">
						<span class="text">이전</span>
					</a>
					<span th:if="${hasPreVideo}" class="btn btn-secondary btn-icon-split">
						<span class="text">이전</span>
					</span>
					<a th:if="!${hasNextVideo}" th:href="@{|/video/viewer/${video.id}/next|}" class="btn btn-primary btn-icon-split">
						<span class="text">다음</span>
					</a>
					<a th:if="${hasNextVideo}" href="/my/list" class="btn btn-primary btn-icon-split">
						<span class="text">완료</span>
					</a>
				</div>
				
			</div>
			<!-- 사이드바 -->
			<div id="nav2">
				<ul class="tab_area" >
					<li class="curriculum">
		        		<div class="view_tit">
		        			<h2>커리큘럼</h2>
        				</div>
			        	<div class="lec_info">
			        		<h4>[[${lecture.title}]]</h4>
			        		<div style="display: flex; gap: 10px; flex-direction: column;">
			        			<span>전체 강의 학습율 : </span>
								<div th:each="entry : ${progressMap.entrySet()}" th:if="${entry.key.lecture.id == lecture.id}">
							        <div th:each="progress : ${entry.value.entrySet()}" style="display: flex; align-items: center;">
							        	<div class="progress progress-sm">
								            <div class="progress-bar" role="progressbar" style="background-color: #e0e0e0;">
								                <div class="progress-fill" th:style="'width:' + (${progress.value * 100.0 / progress.key}) + '%; background: #4e73df;'"></div>
								            </div>
							        	</div>
					            		<span class="progress-text" th:text="${progress.value != null ? (progress.value * 100.0 / progress.key == 0 ? '0' : #numbers.formatDecimal((progress.value * 100.0 / progress.key), 0, 1)) : '0'} + '%'"></span>
							        </div>
							    </div>
						    </div>
			        	</div>
			        	<ul class="lec_list">
			        		<li th:each="entry : ${videoMap.entrySet()}">
			        			<a th:href="@{|/video/viewer/${entry.key.id}|}" th:data-watching-time="${entry.value.watchingTime ?: 0}">
				        			<strong class="lec_tit" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 254px;">[[${entry.key.title}]]</strong>
				        			<span style="display: flex">
					        			<span class="VideoTime" data-time="${entry.value.watchingTime}">[[${entry.value.watchingTime ?: 0}]]</span>
					        			<span>/</span>
					        			<span class="VideoTime" data-time="${entry.key.duration}">[[${entry.key.duration}]]</span>
				        			</span>
				        			<span>
									    진행율 : [[${entry.value.watchingTime != null ? (entry.value.watchingTime * 100.0 / entry.key.duration >= 99 ? '100' : #numbers.formatDecimal((entry.value.watchingTime * 100.0 / entry.key.duration), 0, 1)) : '0'}]]%
									</span>
			        			</a>
			        		</li>
			        	</ul>
			        </li>
			        <li style="display: none;">
			        	<div class="note_area">
							<div>
								<div class="view_tit">
				        			<h2>노트</h2>
		        				</div>
					            <!-- 노트 리스트 창 열기 -->
					            <ul id="notesContainer">
					                <li th:each="note : ${noteList}" class="d-flex">
										<div class="d-flex flex-column">
											<span style="word-break: break-all;" th:text="${note.content}"></span>
											<div>
												<i class="fa-solid fa-play"></i>
												<span class="VideoTime" data-time="${note.videoTime}">
													[[${note.videoTime}]]
												</span>
											</div>
										</div>
										<div class="d-flex align-items-center">
											<button class="btn btn-danger btn-circle btn-sm delete-note" th:data-note-id="${note.id}">
												<i class="fas fa-trash"></i>
											</button>
										</div>
					                </li>
					            </ul>
					        </div>
					        <div class="editor_wrap">
				        		<div id="editor"></div>
		    					<button class="login-btn" style="margin-top: 10px;" id="saveButton">저장</button>
					        </div>
						</div>
			        </li>
			        <li style="display: none">
			        	<div class="view_tit">
		        			<h2>커뮤니티</h2>
        				</div>
        				<ul class="quest_list" style="height: 372px">
			        		<li th:each="question : ${qustList}">
			        			<strong>[[${question.title}]]</strong>
			        			<span class="desc">[[${question.content}]]</span>
			        			<span class="author">[[${question.author.name}]]</span>
			        			<span class="date">[[${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}]]</span>
			        		</li>
			        	</ul>
			        	<div style="padding: 16px 20px; border-top: 1px solid #ddd; padding-top: 20px;">
						    <form id="questionForm">
						    	<div class="input_box">
						    		<label>제목</label>
							    	<input name="title" type="text" />
						    	</div>
						    	<div class="input_box">
						    		<label>내용</label>
							    	<textarea name="content" style="height: 146px; resize: none"></textarea>   	
						    	</div>
						    	<button class="login-btn" type="submit">등록</button>
						    </form>
					    </div>
			        </li>
			    </ul>
			    <div class="side_menu">
			        <div>
			        	<button class="on">커리큘럼</button>
			        </div>
			        <div>
			            <button id="noteLink">강의노트</button>
			        </div>
			        <div>
			        	<button>커뮤니티</button>
		        	</div>
			    </div>
			</div>
	    </div>
	</div>
	<script>
		$(document).ready(function() {
			//커리큘럼
			let token = $("meta[name='_csrf']").attr("content");
		    let header = $("meta[name='_csrf_header']").attr("content");

		    $('#questionForm').submit(function(e) {
		        e.preventDefault(); // 폼 제출 기본 동작 방지

		        let videoId = $('#videoId').val();
		        let title = $('input[name="title"]').val();
		        let content = $('textarea[name="content"]').val();

		        $.ajax({
		            url: `/question/create/${videoId}`,
		            method: 'POST',
		            data: { title: title, content: content },
		            beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
		            dataType: 'json', // 응답 데이터 타입을 JSON으로 명시
		            success: function(response) {
		                // 새로운 질문을 리스트에 추가
		                let newQuestion = `
		                    <li>
		                        <strong>${response.title}</strong>
		                        <span class="desc">${response.content}</span>
		                        <span class="author">${response.author}</span>
		                        <span class="date">${response.createDate}</span>
		                    </li>
		                `;
		                $('.quest_list').prepend(newQuestion);

		                // 입력 필드 초기화
		                $('input[name="title"]').val('');
		                $('textarea[name="content"]').val('');

		                alert('질문이 성공적으로 등록되었습니다.');
		            },
		            error: function(xhr, status, error) {
		                console.error('Error:', error);
		                alert('질문 등록 중 오류가 발생했습니다.');
		            }
		        });
		    });
		});
	</script>
</th:block>
</html>
