@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}
body{ font-family: "Noto Sans KR", sans-serif !important; }

#container { display: flex; }
#content { padding: 20px; min-height: calc(100vh - 104px); }
.content_wrap { width: calc(100% - 224px); }
.container-fluid { padding: 0 !important; }

/* 내용 없을 때 */
.none_cont { display: flex; justify-content: center; align-items: center; }

.nav-link.on, .nav-link.on > i { color: #fff !important; }


/* 모달 */
.modal_all {
    display: none;
    position: fixed;
    z-index: 99999999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal-content_1 {
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

/* 헤더 */
#header { 
	padding: 0 20px;
	width: 100%;
	z-index: 75;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    height: 64px;
    min-height: unset;
}
#header > .wrapper {
	justify-content: end;
	display: flex; 
	align-items: center;
	height: 100%;
}
.wrapper { 
/* 	max-width: 1440px; */
/* 	height: 100%;	 */
	margin: 0 auto;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.logo {
    width: 100%;
    height: 52px;
    background: url(/images/14.png) no-repeat center;
    display: block;
    background-size: cover;
 }

.gnb { display: flex; gap: 0 40px; }
.gnb a { font-size: 20px; font-weight: 700; }

.util { position: relative; display: flex; gap: 0 16px; }
.util > a { font-size: 15px; color: #333; }
.dashBtn {
	padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 1.125rem;
    line-height: 1.1;
    color: #212529;
}


.dropMenu { 
    position: absolute;
	  top: 120%;
	  left: -70px;
	  z-index: 1000;
	  display: none;
	  float: left;
	  min-width: 10rem;
	  padding: 0.5rem 0;
	  margin: 0.125rem 0 0;
	  font-size: 0.85rem;
	  color: #858796;
	  text-align: left;
	  list-style: none;
	  background-color: #fff;
	  background-clip: padding-box;
	  border: 1px solid #e3e6f0;
	  border-radius: 0.35rem;
 }
 .dropMenu a { 
 	font-size: 0.85rem;
 }
 
 .dropMenu:before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: -12px;
    left: 50%;
    transform: rotate(45deg);
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-bottom: none;
}
 
.dropMenu ul li { display: flex; gap: 12px; align-items: center; padding: 16px; transition: all .3s; }
.dropMenu ul li:hover{ background: #f8f9fa; }
.dropMenu ul li:last-child { margin-bottom: 0; }
.dropMenu ul li a { display: block; width: 100%; font-size: 16px; }
.dropMenu ul li i { font-size: 16px; color: #aaa; }


.admin_btn { font-size: 12px; color: #ccc; }

/* 메인 */
.wrapper.search { display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 48px; }
.wrapper.search h3 { margin-bottom: 20px; color: #363636; font-size: 17px; font-weight: 600; }

.search_input{
	max-width: 580px;
    width: 100%;
    position: relative;
}
.search_input > input { 
	width: 100%;
	background-color: rgba(29, 192, 120, .12);  
	border: 1px solid rgba(29, 192, 120, .24);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    padding: 14px 20px;
    border-radius: 28px;
    height: 30px;
}

.search_input button {
	position: absolute;
    right: -13px;
    top: 49%;
    transform: translateY(-50%);
    font-size: 18px;
    background-color: inherit;
    border: unset;
    outline: none;
    cursor: pointer;
    color: #363636;
}

.lecture_list { display: flex; }
.lecture_list li { display: flex; flex-direction: column; }

/* 공통 테이블 */
.tbl {
  border-collapse: collapse;
  width: 100%;
  margin: 0rem auto;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

 /* 테이블 행 */
.tbl th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.tbl th {
  background-color: #1b1b1b;
  color: #ddd;
}

/* 비디어 뷰어 */
.videoViewer { display: flex;  }
#video-content {
  padding: 0;
}
.video {
	display: flex;
    flex-direction: column;
	width: 100%;
}
.video iframe { height: 777px; }
#nav2 {
	position: relative;
	display: flex;
	width: 390px;
}
.side_menu{ 
    width: 68px;
    height: 100%;
    background-color: rgb(248, 249, 250);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 1px 0px;
}

.side_menu > div { border-bottom: 1px solid #ddd; }
.side_menu > div button { 
	appearance: none;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    color: #666;
    width: 100%;
    height: 68px;
    transition: all .3s;
}

.side_menu > div button:hover, .side_menu > div button.on { background: #4e73df; color: #fff; }

.tab_area{ width: 400px; padding: 0; margin: 0; }

.note_area { display: flex; flex-direction: column; }

/* 커리큘럼 */
.view_tit { 
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px 20px;
    color: rgb(27, 28, 29);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}
.lec_info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0px 20px 22px;
}

.lec_list { 
	max-height: 610px;
    overflow: hidden;
    overflow-y: scroll;
}

.lec_list li { 
    padding: 8px 32px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-left: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.lec_list li a {
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.lec_info .lec_tit {         
	margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 1.5; 
}

/* 로그인 */
.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#username, #password {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}
.signup-btn{ display: block; width: 100%; padding: 10px; margin-top: 16px; background: #F5F5F5; }
.oauth-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.oauth-btn a {
  margin: 0 10px;
  color: #666;
  text-decoration: none;
}

.oauth-btn a:hover {
  color: #333;
}

/* 회원가입 */
.input_box.email { display: flex; }
.input_box.email > input { width: calc(100% - 91px); }
.input_box.email > button { height: 45px; margin-left: 6px; }
.input_box.email > button span { line-height: 30px; }

/* 비디오 커뮤니티 */
#questionForm .input_box > input, #questionForm .input_box > textarea { width: 100%; }
.quest_list{ height: 400px; overflow-y: auto; padding: 0; }
.quest_list li { width: 278px; padding: 16px 20px; border: 1px solid #ddd; margin: 16px 20px; border-radius: 5px; }
.quest_list li:frist-of-type { margin-top: 0px; }
.quest_list li span { display: block; }

.quest_list li strong{ font-size: 16px; color: #333; }
.quest_list li .desc{ font-size: 14px; color: #aaa; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.quest_list li .author { font-size: 12px; color: #bbb; }
.quest_list li .date { font-size: 12px; color: #ccc; }
/* 푸터 */
#footer { width: 100%; height: 40px; text-align: center; background-color: #f1f1f1; }
address { line-height: 40px !important; color: #666; font-size: 15px; }


@media (max-width: 768px) {
  .logo {
    background: url('/images/16.png') no-repeat center;
	height: 72px;
	background-size: 65% 65%;
  } 
}