<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout}">
    
    
<th:block layout:fragment="content">
	<div class="container">
	  <i class="fa-solid fa-file-circle-xmark" style="margin-bottom: 20px; font-size: 100px; color: red;"></i>
	  <p class="message" style="margin-bottom: 20px; font-size: 20px;">알 수 없는 에러입니다 다시 시도해주세요.</p>
	  <div class="search-container">
	    <img width="120px" src="/images/logo.png" alt="로고">
	  </div>
	</div>
</th:block>
</html>
