<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}">
	
	<th:block layout:fragment="content">
		<div id="content">

					<div class="mt-5 mb-4" style="display: flex; justify-content: space-between;">
						<h1>질문 목록</h1>
						<div id="dataTable_filter" class="dataTables_filter">
							<label style="white-space: nowrap; display: flex; gap: 10px; align-items: center;">검색:
								<input th:value="${keyword}" type="search" id="search_kw" class="form-control form-control-sm" placeholder="검색어를 입력하세요." aria-controls="dataTable">
							</label>
						</div>
					</div>

					<form th:action="@{/question/search}" method="get" id="searchForm">
						<input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
						<input type="hidden" id="page" name="page" th:value="${paging.number}">
					</form>

					<div class="card shadow mb-4">
						
						<div class="card-header py-3 d-flex justify-content-between align-items-center">
							<div>
								<a href="/question/list" class="quest-link mx-1" id="all">전체</a>
								<a href="/question/list/resolved" class="quest-link mx-1" id="resolved">해결</a>
								<a href="/question/list/unresolved" class="quest-link mx-1" id="unresolved">미해결</a>
							</div>
							<a th:href="@{/question/create}" class="btn btn-primary btn-icon-split">
								<span class="text">글쓰기</span>
							</a>
						</div>

						<div class="card-body">

								<div class="row">
									<div class="noResult" th:if="${paging.isEmpty()}" style="display: flex; justify-content: center; align-items: center; height: 100px; margin: 0 auto;">검색 결과가 없습니다.</div>

									<div class="col-md-6 mb-4" th:each="question, loop : ${paging}">
										
										<div class="card shadow h-100">
											<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
												<h6 class="m-0 font-weight-bold text-primary" th:text="${question.video?.title != null ? question.video.title + ' - ' + question.title : question.title}"></h6>
												<div class="dropdown no-arrow">
													<span th:if="${question.result == false}" class="btn btn-warning btn-circle btn-sm"><i class="fa-solid fa-question"></i></span>
													<span th:if="${question.result == true}" class="btn btn-success btn-circle btn-sm"><i class="fa-solid fa-check"></i></span>
												</div>
											</div>
											<div class="card-body">
												<p class="card-body-p" th:text="${question.content}" style="width: 90%;"></p>
												<p class="text-danger small" 
													th:if="${question.answerList != null and !#lists.isEmpty(question.answerList)}" 
													th:text="'답변 수: ' + ${#lists.size(question.answerList)}"></p>
											</div>
											<div class="card-footer">
												<div class="d-flex justify-content-between align-items-center">
													<small class="text-muted" th:text="'작성자: ' + ${question.author.name}"></small>
													<div>
														<small class="text-muted" th:text="'등록일: ' + ${#temporals.format(question.createDate, 'yyyy-MM-dd')}"></small>
														<small class="text-muted ms-2" th:if="${question.modifyDate != null}" th:text="'수정일: ' + ${#temporals.format(question.modifyDate, 'yyyy-MM-dd')}"></small>
													</div>
												</div>
											</div>
											<a th:href="@{|/question/detail/${question.id}|}" class="stretched-link"></a>
										</div>
	
									</div>
	
								</div>
	
						</div>
					</div>
				
				<!--페이징-->
				<div class="page" th:if="${!paging.isEmpty()}">
					
					<ul class="pagination justify-content-center">
						<li class="page_item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
							<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
								<span>이전</span>
							</a>
						</li>
						<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" th:if="${page >= paging.number-5 and page <=paging.number+5}" th:classappend="${page == paging.number} ? 'active'"class="page-item">
							<a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
						</li>
						</li>
						<li class="page_item" th:classappend="${!paging.hasNext} ? 'disabled'">
							<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
								<span>다음</span>
							</a>
						</li>
					</ul>
				</div>
		</div>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const page_elements = document.getElementsByClassName("page-link");
			Array.from(page_elements).forEach(function(element){
				element.addEventListener('click', function(){
					document.getElementById('page').value = this.dataset.page;
					document.getElementById('searchForm').submit();
				});
			});
		
			const search_input = document.getElementById("search_kw");
			search_input.addEventListener('keypress', function(e){
				if (e.key === 'Enter') {
					e.preventDefault(); // 기본 제출 동작 방지
					document.getElementById('keyword').value = this.value;
					document.getElementById('page').value = 0;
					document.getElementById('searchForm').submit();
				}
			});
		});
		document.addEventListener('DOMContentLoaded', function() {
			const currentPath = window.location.pathname;
			const links = document.querySelectorAll('.quest-link');
			
			links.forEach(link => {
				if (link.getAttribute('href') === currentPath) {
				link.classList.add('active');
				}
			});
		});
		
	</script>
	</th:block>
</html>
