<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
<th:block layout:fragment="content">
<div id="content">
<!--     <include><aside>사이드메뉴</aside></include> -->
    <section>
        <!-- 타이틀 -->
        <div><h2>board</h2></div>
        <!-- 기능 박스 -->
         <div>
            <!-- 분류 -->
             <div>
                <button type="button">전체</button>
                <button type="button">해결</button>
                <button type="button">미해결</button>
             </div>
             <!-- 검색 -->
            <div>
                <div>
                    <input type="text" placeholder="검색하세요"><button type="button">검색</button>
                </div>
            </div>
         </div>
    </section>
    <section>
        <!-- 정렬 -->
        <div>
            <select name="" id="">
                <option value="최신순">최신순</option>
                <option value="정확도순">정확도순</option>
                <option value="답변많은순">답변많은순</option>
                <option value="좋아요순">좋아요순</option>
            </select>
        </div>
        <!-- 질문리스트 -->
         <ul>
            <!-- 루프사용 -->
            <li style="background-color: #f00;">
                <div>미해결</div>
                <div>
                    <h4></h4>
                    <p></p>
                    <div>
                        <span class="like"></span>
                        <span class="view"></span>
                        <span class="comment"></span>
                    </div>
                </div>
            </li>
         </ul>
    </section>
</div>
</th:block>
</html>