<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<div id="content">
			<div class="wrapper">
			    <section>
		            <div class="container-fluid">
				        <div class="mt-4 mb-4">
				            <div><h2>강의 영상 리스트</h2></div>
				        </div>
					    <div class="card mb-4" th:each="entry, loop : ${userVideoList.entrySet()}">
					        <div class="card-header py-3" onclick="location.href=this.querySelector('a').href" style="cursor: pointer;">
					            <a th:href="@{|/video/viewer/${entry.key.id}|}" th:text="${entry.key.title}"></a>
					        </div>
					        <div class="card-body" th:with="progressPercentage=${entry.key.duration == 0 ? 0 : (entry.value.watchingTime * 100.0 / entry.key.duration)}, displayPercentage=${progressPercentage >= 99 ? 100 : progressPercentage}">
							    <div class="progress progress-sm mb-2">
							        <div class="progress-bar" role="progressbar"
							            th:style="'width:' + ${#numbers.formatDecimal(displayPercentage, 0, 1) + '%'}"
							            th:aria-valuenow="${#numbers.formatDecimal(displayPercentage, 0, 1)}"
							            aria-valuemin="0" 
							            aria-valuemax="100">
							            <div class="progress-fill" th:style="'width: 100%'"></div>
							        </div>
							    </div>
							    <span class="progress-text" th:text="${displayPercentage == 0 ? '0%' : #numbers.formatDecimal(displayPercentage, 0, 1) + '%'}"></span>
							</div>
					    </div>
					</div>
			    </section>
		    </div>
		</div>
	</th:block>
</html>