<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
<th:block layout:fragment="content">
<div id="content">
    <section>
        <h2>노트 상세 내용</h2>
        <div>
            <span>프로젝트2 - 검색 기능 분석</span>
            <h3>[분석] 4.검색 결과의 순서</h3>
        </div>
        <div>
            <div>
                <div>
                    <button>수정</button>
                    <button>삭제</button>
                </div>
                <div>
                    <textarea name="" id="" readonly>내용을 입력하세요</textarea>
                </div>
            </div>
        </div>
    </section>
</div>
</th:block>
</html>